<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title>E-commerce</title>
    </head>
    <body>
        <div class="grid-container">
            <header>
                <div>
                    <a href="index.html">inicio</a>
                </div>
                <div>
                    <a href="carrito.html">Carrito</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <ul>
                    <li>Producto 1</li>
                    <li>Producto 2</li>
                    <li>Producto 3</li>
                    <li>Producto 4</li>
                </ul>
            </main>
            <footer>
                Todos los derechos reservados 
            </footer>
        </div>
    </body>
</html>